$background-color: #121213;
$text-color: rgb(255, 255, 255);
$border-color-active: #565758;
$border-color-inactive: #3a3a3c;

$color-correct: #538d4e;
$color-present: #c9b458;
$color-miss: #3a3a3c;

$keyboard-key-present: #b59f3b;
$keyboard-key-correct: #538d4e;
$keyboard-key-miss: #3a3a3c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: $text-color;
  font-size: 20px;

  body {
    background-color: $background-color;
    display: flex;
    align-items: center;
    flex-direction: column;

    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100vw;
      max-width: 700px;
      justify-content: space-around;
      height: 100vh;

      .game-board {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
        aspect-ratio: 1/1.1;
        width: 95%;
        min-height: 400px;
        max-width: 400px;

        .game-block {
          aspect-ratio: 1/1;
          border: 2px solid $border-color-inactive;
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 400%;
          max-height: 400%;
          font-size: 2rem;
          font-weight: bold;
          border-radius: 2px;
        }

        .current-row {
          border-color: $border-color-active;
        }

        .miss {
          background-color: $color-miss;
        }

        .present {
          background-color: $color-present;
        }

        .correct {
          background-color: $color-correct;
        }
      }

      .keyboard {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .keyboard-line {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          .keyboard-key {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: grey;
            margin: 4px 3px;
            padding: 3px;
            width: 2.5rem;
            height: 60px;
            border-radius: 3px;
            border: none;
          }
          .keyboard-symbols {
            width: 3.35em;
          }
          .key-correct {
            background-color: $keyboard-key-correct;
          }
          .key-present {
            background-color: $keyboard-key-present;
          }
          .key-miss {
            background-color: $keyboard-key-miss;
          }
        }
        [data-row="second-row"] {
          width: 90%;
        }
      }
    }
  }
}
